.link {
    cursor: pointer;
    color: #000000;
    text-decoration: underline;
}
.link:hover {
    color: #F00;
}

.main {
    padding-top: 60px;
    width: 100%;
}
.article_info {
    padding-left: 10px;
    padding-right: 10px;
}
.article_info * {
    margin: 0px;
}
.article_info .date {
    color: #909090;
    display: block;
    margin-bottom: 5px;
}

.article, .share, .art_oth, .comment {
    max-width: 1000px;
    margin: 0px auto;
}

/* 内容展示区样式设置 begin*/
.content {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
.content a:link, .content a:visited {
    color: #44719b;
}
.content a:hover {
    text-decoration: underline;
}
.content p {
    margin-top: 10px;
    margin-bottom: 10px;
}
.content * {
    word-wrap: break-word;
}
.content blockquote {
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
}

/*table {
    table-layout: fixed;
}
.code .container {
    word-wrap: break-word;
}*/
/* 内容展示区样式设置 end*/

.share {
    border-bottom: 1px solid #ccc;
    height: 50px;
}
.share a {
    color: black;
}
.share ul {
    margin-top: -16px;
    padding: 0px;
}
.share li:nth-child(1) {
    cursor: default;
}
.share li:hover:nth-child(1) {
    color: black;
    background-color: white;
}
.share li{
    transition: all 0.5s;
    cursor: pointer;
    padding: 15px; 
    width: 20px;
    height: 20px;
    float: left;
    list-style-type: none;
}
.share li:hover {
    background-color: black;
    color: white;
}
.share i {
    font-size: 20px;
}

.art_oth {
    border-bottom: 1px solid #ccc;
    overflow:hidden;
}
.art_oth div {
    float: left;
    overflow: hidden;
    cursor: pointer;
    padding: 10px;
    min-width: 200px;
    width: 40%;
    transition: all 0.3s;
}
.art_oth div:nth-child(2) {
    float: right;
}
.art_oth div a {
    display: block;
    min-height: 3em;
}
.art_oth a span{
    color: #2E2E2E;
}
.ath_title {
    font-size: 1.3em;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    max-width: 100%;
}
.art_oth div:hover{
    background-color: #E4E4E4;
}
.art_pre a * {
    float: left;
}
.art_oth a span:nth-child(1) {
    font-size: 1em;
}
.art_next a * {
    float: right;
}

.comment {
    padding: 5px;
}

.comment_info{
    padding: 5px;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    height: auto;
    overflow: hidden;
}

.head_img {
    margin-right: 15px;
    border-radius: 16px;
    float: left;
}

.comment_content {
    /*float: left;*/
    /*background-color: rgb(222,243,252);*/
    border: 1px solid #ccc;
    position: relative;
    padding: 5px;
    margin-left: 48px;
    border-radius: 8px;
}
.comment_content code {
    border-radius: 5px;
}

.triangle {
    position: absolute;
    top: 5px;
    left: -8px;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    border-bottom: 8px solid #FFF;
    border-top: 8px solid #FFF;
    border-left: none;
    border-right: 8px solid #ccc;
}

.com_detail {
    margin-bottom: 10px;
}
.reviewer {
    color: rgb(159, 167, 197);
}
.reply {
    cursor: pointer;
    margin-right: 10px;
    float: right;
}

.comment_input {
    margin-top: 10px;
    overflow: hidden;
}
.min_btn {
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.6em;
    padding: 2px 4px;
    background-color: #1C1D24;
    border-radius: 3px;
    color: white !important;
}
.btn {
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
    padding: 10px 20px;
    background-color: #1C1D24;
    border-radius: 5px;
    color: white !important;
}
.btn:hover, .min_btn:hover {
    background-color: #D0333A;
}
.submit {
    margin-top: 5px;
    margin-right: 10px;
    float: right;
    box-sizing: content-box;
    -webkit-appearance: none;
    border: 0;
}
.visitor, .login {
    margin-bottom: 10px;
}
.visitor {
    display: none;
    margin-top: 5px;
}
.visitor * {
    height: 2em;
    line-height: 2em;
    font-size: 0.8em;
    margin-top: 5px;
}
.login {
    height: 4em;
    overflow: hidden;
}
.login>img:nth-child(1) {
    border-radius: 50%;
    border: 1px solid #E7E7E7;
    float: left;
    margin-top: 0.5em;
    width: 3em;
    height: 3em;
}
.login div {
    margin-top: 0.5em;
}
.qqlogin, .wechatlogin {
    cursor: pointer;
    margin-left: 0.5em;
    height: 1.25em;
    color: black;
}
.qqlogin:hover, .wechatlogin:hover {
    color: #D0333A;
}
#editor {
    display: none !important;
}

@media screen and (max-width: 640px) {
    .art_oth div {
        float: none !important;
        width: auto;
    }
    .art_next a * {
        float: left;
    }
}